
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');



.addShadow
{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.SingleGame
{
    width: 410px;
    min-height: 460px;

}

.CardActionArea
{
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-size: .8rem;
   
}


.CardAction
{
    display: flex;
    justify-content: center;  
}

.game_title
{
    font-family: 'Manrope', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 5rem;
    text-align: center;
}

.rating_container
{
    display: flex;
    justify-content: center;   
}

@media only screen and (max-width: 950px)
{
    .addShadow
    {
        max-width: 50vh;
        display: flex;
        justify-content: center;
    }

    .SingleGame-Container
    {
        width: 100%;
        display: flex;
        justify-content: center;    
    }


    
}